In [1]:
import pandas as pd

In [3]:
pd.read_csv("soln.csv", index_col=0)

,job_id,category,machine,start_time,end_time,flow_time,arrival_time,processing_time
0,0,2,1,1,6,0,1,5
1,1,0,3,31,61,30,1,30
2,2,2,1,6,11,5,1,5
3,3,2,5,16,21,15,1,5
4,4,0,7,6,36,5,1,30
...,...,...,...,...,...,...,...,...
95,95,0,2,175,205,5,170,30
96,96,0,7,200,230,30,170,30
97,97,2,5,195,200,25,170,5
98,98,0,7,170,200,0,170,30
99,99,0,3,205,235,35,170,30